/**
 * InteractionLayer Styles
 * Author: Mehmet Gümüş (github.com/SpaceEngineerSS)
 */

.interaction-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}
